
    h1{
        text-align: center;
        font-family: verdana;
        font-size:25px;
        color:#FFFFFF;
    }
    .memoryContainer{
        width:500px;
        height: 600px;
        border:1px solid #E9E9E9;
        margin: auto;
        background-color:#666666;
    }
    .memoryCard, .memoryCard:disabled{
        width:100px;
        height:100px;
        background-image:url("fotos/wv1.jpg");
        margin:10px;
        border:1px solid #999999;
        float:left;
        cursor:pointer;
        font-size:25px;
        font-weight:bold;
        color:#FFFFFF;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }
    button:disabled,
    button[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #FFFFFF;
    }
    